html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 15px;
}

body {
    padding-top: 90px;
    background-color: rgba(114, 106, 255, 0.7) !important;
}

a.nav-link i {
    margin-right: 5px;
}

#logoGhostify {
    margin: 5px 10px;
    width: 50px;
    height: 50px;
    color: #6c63ff;
}

.navbar-brand span {
    color: #6c63ff;
    font-size: 1.5rem;
    font-weight: 600;
}

.display-4 , .navbar-brand span{
    font-family: 'Darumadrop One', cursive;
}

nav.navbar.shadow {
    padding: 5px 20px 5px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav-link {
    color: #6c63ff;
    opacity: 0.85;
}

a {
    cursor: pointer;
}

.price{
    color: #6c63ff;
    font-weight: bold;
    font-size: 2.5em;
}

#products div.col-lg-2{
    cursor: pointer;
    min-width: 200px;
}

.card {
    width: 250px;
    height: 325px;
    background: #ffffff;
    border-radius: 20px;
    border-color: transparent;
    border-width: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    transition: 0.2s ease-in-out;
    box-shadow: 0px 0px 10px #ededed,
    0px 0px 20px #ffffff;
}

.img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: 80%;
    position: absolute;
    transition: 0.2s ease-in-out;
    z-index: 1;
}

.textBox {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: 0.2s ease-in-out;
    z-index: 2;
}

.textBox > .text {
    font-weight: bold;
}

.textBox > .head {
    font-size: 20px;
}

.textBox > .price {
    font-size: 17px;
}

.textBox > span {
    font-size: 12px;
    font-weight: bold;
    color: #6c63ff;
}

.card:hover > .textBox {
    opacity: 1;
}

.card:hover > .img {
    height: 65%;
    filter: blur(7px);
    opacity: 0.5;
    animation: anim 3s infinite;
}

@keyframes anim {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

.card:hover {
    transform: scale(1.04);
}

@keyframes loader_5191 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.square {
    background: #ddd;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -5px;
    margin-left: -5px;
}

#sq1 {
    margin-top: -25px;
    margin-left: -25px;
    animation: loader_5191 675ms ease-in-out 0s infinite alternate;
}

#sq2 {
    margin-top: -25px;
    animation: loader_5191 675ms ease-in-out 75ms infinite alternate;
}

#sq3 {
    margin-top: -25px;
    margin-left: 15px;
    animation: loader_5191 675ms ease-in-out 150ms infinite;
}

#sq4 {
    margin-left: -25px;
    animation: loader_5191 675ms ease-in-out 225ms infinite;
}

#sq5 {
    animation: loader_5191 675ms ease-in-out 300ms infinite;
}

#sq6 {
    margin-left: 15px;
    animation: loader_5191 675ms ease-in-out 375ms infinite;
}

#sq7 {
    margin-top: 15px;
    margin-left: -25px;
    animation: loader_5191 675ms ease-in-out 450ms infinite;
}

#sq8 {
    margin-top: 15px;
    animation: loader_5191 675ms ease-in-out 525ms infinite;
}

#sq9 {
    margin-top: 15px;
    margin-left: 15px;
    animation: loader_5191 675ms ease-in-out 600ms infinite;
}

#categories-scroll a:hover {
    background-color: var(--bs-dark-text-emphasis) !important;
    scale: 1.05;
    transition: scale 0.2s ease-in-out;
}

#categories-scroll a.active {
    background-color: var(--bs-dark-text-emphasis) !important;
}

/* Loader productes*/
@keyframes square-animation {
    0% {
        left: 0;
        top: 0;
    }

    10.5% {
        left: 0;
        top: 0;
    }

    12.5% {
        left: 32px;
        top: 0;
    }

    23% {
        left: 32px;
        top: 0;
    }

    25% {
        left: 64px;
        top: 0;
    }

    35.5% {
        left: 64px;
        top: 0;
    }

    37.5% {
        left: 64px;
        top: 32px;
    }

    48% {
        left: 64px;
        top: 32px;
    }

    50% {
        left: 32px;
        top: 32px;
    }

    60.5% {
        left: 32px;
        top: 32px;
    }

    62.5% {
        left: 32px;
        top: 64px;
    }

    73% {
        left: 32px;
        top: 64px;
    }

    75% {
        left: 0;
        top: 64px;
    }

    85.5% {
        left: 0;
        top: 64px;
    }

    87.5% {
        left: 0;
        top: 32px;
    }

    98% {
        left: 0;
        top: 32px;
    }

    100% {
        left: 0;
        top: 0;
    }
}

.loader {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 96px;
    height: 96px;
    transform: rotate(45deg);
    z-index: 99999;
}

.loader-square {
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    margin: 2px;
    border-radius: 0px;
    background: white;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: square-animation 10s ease-in-out infinite both;
    z-index: 99999;
}

.loader-square:nth-of-type(0) {
    animation-delay: 0s;
}

.loader-square:nth-of-type(1) {
    animation-delay: -1.4285714286s;
}

.loader-square:nth-of-type(2) {
    animation-delay: -2.8571428571s;
}

.loader-square:nth-of-type(3) {
    animation-delay: -4.2857142857s;
}

.loader-square:nth-of-type(4) {
    animation-delay: -5.7142857143s;
}

.loader-square:nth-of-type(5) {
    animation-delay: -7.1428571429s;
}

.loader-square:nth-of-type(6) {
    animation-delay: -8.5714285714s;
}

.loader-square:nth-of-type(7) {
    animation-delay: -10s;
}